* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
.header {
    background-image: url('../images/banner/banner2.png');
    width: 1600px;
    height: 809px;
}

.banner {
    text-align: right;
    margin: 0px 200px;
    padding: 200px 300px 250px 400px;


}

.banner-title {

    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 18px 36px;
    border: 0;
}

/* main section*/
main {
    max-width: 1140px;
    margin: 0 auto;
}




/* previous section styles */

.previous {

    display: flex;
    margin: auto;
    padding: 35px 50px;

}


.previous-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-top: 200px;
    margin-bottom: 24px;



}

.previous-description {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 30px;


}

.list {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style-type: none;

}

/* my plan styles */

.plan-subtitle {
    text-align: center;
    padding-top: 10px;
}



.plans-container {
    display: flex;
    gap: 24px;
    padding: 30px;
}



.plan-title {
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* third section styles */
.third {
    background-image: url('../images/watch.png');
    width: 1140px;
    height: 300px;


}

.positive {
    background-image: url('../images/gradient2.png');
    text-align: left;
    margin-top: 40px;
    width: 1140px;
    height: 300px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);

}



.positive-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 40px;

}

.btn2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    padding: 25px;
    margin-left: 40px;
    border: 0 solid;
    border-radius: 5px;

}


/* my own section styles */
.own {
    margin-top: 50px;
    background-color: pink;
    padding: 50px;
}

.food {
    padding-top: 20px;

}

/* last styles */
.last {
    display: flex;
    gap: 400px;
    margin-top: 24px;
    background: #151414;
    padding: 70px 80px;
    

}

.last .last-title {
    text-align: left;
}

.btn3 {
    color: #F15B22;
    border: 3px solid;
    margin-top: 24px;
    width: 90px;
    height: 60px;
    border-radius: 10px;
}
.last-title{
    margin-bottom: 24px;
    color:#FFFFFF; 

}
.last-des{
    margin-bottom: 24px;
    color:#FFFFFF; 
}
.last a{
    text-decoration: none;
}


